@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    --background: #201f2f;
    --txt-1: #ffffff;
    --txt-2: #44404f;
    --txt-3:#FFD700;
    --background-a10: #ecf0f1; 
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background-color: var(--background);
    color: var(--txt-1);
}

.container {
    max-width: 500px;
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.txt {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 500px;
    margin:0;
}

.txt_aling{
    align-items: center;
    justify-content: space-between;
}

.txt h1 {
    padding: 0 15px;
}

.txt h2 {
    padding: 0 15px;
}

.txt p {
    padding: 0 15px;
    font-size: 14px;
    color: var(--txt-3);
}

.txt_p{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin-bottom: 35px;
    margin-top:-20px;
}

.txt_p p {
    padding: 0 15px;
    font-size: 12px;
}

.filter {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.options {
    width: 100%;
    height: 50px;
    overflow-x: scroll;
    display: flex;
    margin-left: 10px; 
    flex-direction: row;
}

.options .list-container {
    display: inline-block;
    margin-right: 10px;
    white-space: nowrap; 
}

.options .list-item {
    display: inline-block;
    padding: 5px 10px;
}

.options::-webkit-scrollbar {
    width: 12px; 
    background-color: var(--background); 
}

.options::-webkit-scrollbar-thumb {
    background-color: var(--background); 
}

.options::-webkit-scrollbar-track {
    background-color: var(--background); 
}

.selected {
    border: 2px solid var(--txt-2);
    border-radius: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
}

.recipes {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
}

.recipe {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    width: 85%;
    background-color: var(--background-a10);
}

.recipe h2 {
    margin-bottom: 10px;
}

.recipe p {
    margin-bottom: 5px;
}

.recipe ul {
    text-align: left;
}

.recipe img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Ícones de Navegação */
.navigation-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
}

/* Ícones de Navegação */
.navigation-icons {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 60px;
    background-color: var(--background);
}

.navigation-icons span{
color: var(--txt-2);
font-size: 25px;
}

.modal {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px; /* Largura máxima */
    height: 100%;
    background-color: var(--background-a10);
    padding: 15px;
    box-sizing: border-box; /* Garante que as bordas estão dentro da tela */
    color: var(--txt-1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto; /* Adiciona barra de rolagem se o conteúdo for muito longo */
    backdrop-filter: blur(5px); /* Adiciona blur ao fundo fora do modal */
}


.modal h2 {
    margin-bottom: 10px;
    color: var(--txt-2);
}

.image-container {
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Imagem dentro da div */
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal p {
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--txt-2);
}

.modal button {
    padding: 10px;
    background-color: var(--background);
    color: var(--txt-1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: var(--background-a10);
    color: var(--txt-2);
}
